<div class="modal">
  <h2 class="board-title"><%= board.escape('title') %></h2>
  <button class="delete-board button btn-danger">Delete Board</button>
  <div class="lists">
  </div>
  <div class="new-list-form col-xs-3">
  </div>
</div>