<div class="list-header">
  <h4 class="list-title"><%= list.escape('title') %></h4>
  <button class="delete-list button btn-danger">Delete List</button>
</div>
<ul class="cards list-group">
</ul>
<div class="card-form"></div>
