<% if (display_form) { %>
  <label>Title
  <input class="form-control"
         type="text"
         name="title"
         value="<%= list.escape('title') %>">
  </label>
  <br>

  <input type="hidden"
         name="board_id"
         value="<%= board.id %>">
         
  <input type="hidden"
         name="ord"
         value="<%= board.lists().length + 1 %>">

  <input class="button btn-primary" type="submit" value="Create List">
<% } else { %>
  <button class="add-list button btn-primary">Add a list...</button>
<% } %>
